* {
    margin: 0px;
    padding: 5px;
    
}

body {
    background: rgb(0, 99, 87);    
}

.calculator {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}

.display {
    
    font-size: 2.5em;
    padding: 20px;
    border-radius: 10px;
}

.buttons {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

button {
    font-size: 1.5em;
}


.number {
    background: #ecf0f1;
}

.operator {
    background: #667eea;
    color: white;
}

.equals {
    background: #27ae60;
    color: white;
    grid-column: span 3;

}

.clear {
    background: #e74c3c;
    color: white;
}